@import "../../../../../partials/mixins";

.InputsBox_SetChartData {
  h2 {
    font-size: 20px;
    text-align: center;
  }
  p {
    margin: 8px 0;
    text-align: center;
  }
  .button_box {
    display: flex;
    justify-content: space-between;
    align-self: center;

    padding: 0 10px;
  }
}
