// Main page's
//Height
$header-height: 50px;
$footer-height: 30px;
$mainPage-height: calc(100vh - ($header-height + $footer-height));
$input-height: 36px; 

// Color
$header_header-color: rgb(190, 190, 190);

// Media size
$media-mobile: 550px;
// ------------------------


// Color
$input_color: rgb(204, 204, 204);
$blue: rgb(25, 25, 53);
$borderPadding-color:rgb(57, 57, 57);

$main_object_color: $blue;
$title_text_color: rgb(0, 140, 255);


$a-color: rgb(25, 25, 53);
